{% extends 'base.html' %}

{% block content %}
    {% comment %} <form class="container text-center" action="{% url 'recipe_category_single' category.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="type" value="image_change">
        <img class="img-thumbnail" src="/media/images/recipe_category/{{ category.id }}.jpg">
        <div class="input-group mt-3">
            <input type="file" name="image" class="form-control" accept="image/*">
            <input type="submit" class="btn btn-danger" value="Change Image"></button>
        </div>
    </form> {% endcomment %}
    <form class="mt-5" action="{% url 'update_product_category' category.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="name_change">
        <div class="input-group">
            <input class="form-control" type="text" name="name" value="{{ category.name }}" placeholder="Enter new Name">
            <button type="submit" class="btn btn-danger">Change Name</button>
        </div>
    </form>
    <div class="mt-5 container text-center">
        <button class="btn btn-warning rounded-pill" onclick="location.href='{% url 'delete_product_category' category.id %}?action=delete'"><i class="fas fa-minus-circle"></i> Remove Category</button>
    </div>
{% endblock %}